.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 80%;
}
.form-group{
    width: 100%;

}
li{
    list-style:none;
}
.container-right{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
}