<div class="container">
  <h2>Ingrese los datos</h2>
  <form [formGroup]="formulario" method="POST">
    <div class="form-group">
      <label for="tituloNota">Titulo</label>
      <input
        class="form-control"
        id="tituloNota"
        aria-describedby="notaHelp"
        formControlName="inputTitulo"
      >
      <small id="notaHelp" class="form-text text-muted"
        >Ingrese el titulo de la nota:</small
      >
    </div>
    <div class="form-group">
      <label for="formControlSelect">Estado</label>
      <select
      formControlName="inputEstado"
        class="form-control form-control-lg form-select"
        id="formControlSelect"
      >
        <option>Abierto</option>
        <option>En Proceso</option>
        <option>Cerrado</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formControlTextarea1">Descripción de la Nota</label>
      <textarea
        formControlName="inputTexto"
        class="form-control"
        id="formControlTextarea1"
        rows="4"
        maxlength="150"
        (keyup)="onKeyUp($event)"
        >
      </textarea>
      <div class="form-row__description" invisible id="charCounter">
        {{numberOfCharacters1}} / 150
      </div>

    </div>
    <div class="container-right">
      <button type="submit" class="btn btn-secondary g" (click)="eliminar()">
        Eliminar
      </button>
      <button type="submit" class="btn btn-primary g" (click)="actualizar()">
        Actualizar
      </button>
    </div>
  </form>
</div>
